<div class="row-fluid pagination-centered">
	<div class="span12">

		<div class="logo-head">
			<%= render :partial => 'shared/logo' %>
		</div>



		<div class="about-icons" style="border: 1px ">

			<div class="span4" style="border: 1px ">
				<div class="icon-image">
					<i class="icon-time"></i>
				</div>
				<h2>Save time</h2>
				<p>Book Supply Co. figures out the books you need for the courses you're already registered for, and finds them on sale online at reputable merchants like Amazon and Barnes & Noble.</p>
			</div>

			<div class="span4" style="border: 1px ">
				<div class="icon-image">
					<i class="icon-money"></i>
				</div>
				<h2>Save money</h2>
				<p>Online booksellers are often 20% to 40% cheaper since they can purchase and process in bulk. Their savings can be your savings when you buy your books online.</p>
			</div>

			<div class="span4" style="border: 1px ">
				<div class="icon-image">
					<i class="icon-lock"></i>
				</div>
				<h2>Securely</h2>
				<p>Book Supply Co. uses the latest web security standards to make sure your information is secure in transit, then discards it forever so it can never be stolen or misused. Your privacy is our main concern.</p>
			</div>
		</div>

		<div>
			vdsvsdv
		</div>


	</div>
</div>