<div class="paper pagination-centered">

  <%= render :partial => 'shared/logo' %>

  <div class="content-box">

    <div class="row-fluid pagination-centered">
      <p>At Book Supply Co. our mission is to be</p>
      <p class="mission">The absolute easiest way to get the best prices on textbooks.</p>

      <p>Here's how we do it:</p>
    </div>

    <div class="row-fluid">
      <div class="about-image span7" id="about-prices"></div>
      <div class="about-text span5">
        <h2 class="about-headline">Low prices</h2>
        <p> We search all over the internet for the lowest prices, then compare them to your campus bookstore. If your bookstore is cheaper, that's great! We'll even link you there if they let you order online. 
        <p>Best of all, these prices are exactly the same as if you had gone to these sites yourself!</p>
      </div>
    </div>


    <div class="row-fluid">
      <div class="about-text span5">
        <h2 class="about-headline">Automation</h2>
        <p>Do you enjoy copying and pasting ISBNs from your school website to Amazon? Neither did we! Book Supply Co. lets you tell us what books you need simply by entering your school username and password.</p>
        <p>After you pick which books you want, we even will put them in the cart for you. We know you're busy <span class="strike">partying</span> studying, so we want to help you out.</p>
      </div>
      <div class="about-image span7" id="about-auto"></div>
    </div>


    <div class="row-fluid">
      <div class="about-image span7" id="about-flex"></div>
      <div class="about-text span5">
        <h2 class="about-headline">Flexibility</h2>
        <p>Students have a lot of options these days. Do you want a book used, or new? Wanna rent it, or buy it outright? Choice is nice, but these choices are scattered all over the internet.</p>
        <p>We put all the information you need at your fingertips, then let you decide what works best for you.</p>
      </div>
    </div>



    <div class="row-fluid pagination-centered">
      <%= render :partial => 'shared/try_button' %>
    </div>

    <div class="row-fluid pagination-centered example-link">
      <%= link_to faq_path do %>
        <button class="btn btn-warning faq-link">
          More questions? Check out our FAQs
        </button>
      <% end %>
    </div>

  </div>
</div>