<div class="paper pagination-centered">

  <%= render :partial => 'shared/logo' %>

  <div class="content-box">
    <h1>Privacy and Security Policy</h1>
    <h4>Last Revised: March 24, 2013</h4>
    <p>
    BSC is committed to maintaining the confidentiality, integrity and security of any personal information about our users. This Privacy & Security Policy explains how we protect personal information provided through our website www.booksupply.co (the “Site”) and how we use that information in connection with our service offered through the Site (the “Service”). 
    </p>
    <p>
    <b>Personal information</b> for purposes of this Policy means information that identifies you, such as your school id and password. 
    </p>
    <p>
    <b>Product information</b> for purposes of this Policy means information that related to you and the Service, such as courses registered for, and books required.
    </p>
    <p>
    BSC stresses its privacy and security standards to guard against identity theft and provide security for your personal information. We regularly re-evaluate our privacy and security policies and adapt them as necessary to deal with new challenges.
    </p>
    <p>
    <h4>1. Your Privacy is not for sale</h4>
    Simply put, we do not and will not sell or rent your personal information to anyone, for any reason, at any time. 
    BSC will never use your personal information for any commercial purpose other than to ascertain the Product information. Once the Product information is ascertained, BSC will destroy its copy of your Personal information. Your Product information is retained:
    <ul>
    <li>For your convience as a user of the Service; </li>
    <li>to analyze site usage and improve the Service;</li>
    <li>for market research, project planning, troubleshooting problems, detecting and protecting against error, fraud or other criminal activity;</li>
    <li>to enforce BSC’s Terms of Use; and</li>
    <li>as otherwise set forth in this Privacy and Security Policy.</li>
    </ul>
    </p>
    <p>
    <h4>2. We limit the collection and use of personal information</h4>
    Certain areas and features of booksupply.co are available to you without registration or the need to provide to us any information. However, In order to benefit from the full functionality of the Service, you must “log-in” and provide to BSC your Personal information to ascertain Product information.
    </p>
    <p>
    <h4>3. Online session information and use is only used to improve your experience</h4>
    When you visit booksupply.co, we may collect technical and navigational information, such as computer browser type, Internet protocol address, pages visited, and average time spent on our Site. This information may be used, for example, to alert you to software compatibility issues, or it may be analyzed to improve our Web design and functionality.
    “Cookies” are alphanumeric identifiers in the form of text files that are inserted and stored by your Web browser on your computer’s hard drive. BSC may set and access cookies on your computer to track and store preferential information about you and improve your experience in using the Service. BSC may gather information about you through cookie technology. For example, BSC may assign a cookie to you, to limit the amount of times you see a demonstration of how the product works. Please note that most Internet browsers will allow you to stop cookies from being stored on your computer and to delete cookies stored on your computer. If you choose to eliminate cookies, the full functionality of the Service may be impaired for you.
    We may use third party service providers to help us analyze certain online activities. For example, these service providers may help us measure the performance of our online campaigns or analyze visitor activity on booksupply.co. We may permit these service providers to use cookies and other technologies to perform these services for BSC. We do not share any personal information about our customers with these third party service providers, and these service providers do not collect such information on our behalf. Our third party service providers are required to comply fully with this Privacy and Security Policy.
    </p>
    <p>
    <h4>4. Blogs and other Forums on booksupply.co</h4>
    If you use a bulletin board, blog or chat room on our Site, you should be aware that any information you submit there (including your comments in response to our content) can be read, collected or used by other users and could be used to send you unsolicited messages. We are not responsible for the personal information you choose to submit in these forums. These forums may be hosted by BSC or by one of our third party service providers on BSC's behalf.
    </p>
    <p>
    <h4>5. Contests, Giveaways and Surveys</h4>
    From time to time, BSC may offer you the opportunity to participate in contests, giveaways and other promotions. Any information submitted in connection with such activities will be treated in accordance with this Privacy and Security Policy, except as specifically set forth in the rules for those contests, giveaways or promotions. From time to time, BSC may also ask you to participate in surveys designed to help BSC improve the Site. Any personal information provided to BSC in connection with any survey will be used only in relation to that survey and as elsewhere set forth in this Policy.
    </p>
    <p>
    <h4>6. Disclosure of your information to protect our rights or if required by law</h4>
    Notwithstanding the foregoing, BSC reserves the right (and you authorize BSC) to share or disclose your Personal or Product information when BSC determines, in its sole discretion, that the disclosure of such information is necessary or appropriate:
    <ul>
    <li>To enforce our rights against you or in connection with a breach by you of this Privacy and Security Policy or the booksupply.co Terms of Use;</li>
    <li>To prevent prohibited or illegal activities; or</li>
    <li>When required by any applicable law, rule regulation, subpoena or other legal process.</li>
    </ul>
    </p>
    <p>
    <h4>7. Your data is secure</h4>
    We use a combination of firewall barriers, encryption techniques and authentication procedures, among others, to maintain the security of your online session and to protect booksupply.co accounts and systems from unauthorized access.
    When you use the Service, BSC requires your Personal information from you to access your classes and books and for your privacy and security. BSC transmits your Personal information securely. When BSC ascertains your Product information, we destroy our copy of your Personal information forever.
    However, it is important to understand that these precautions apply only to our Site and systems. We exercise no control over how your information is stored, maintained or displayed by third parties or on third-party sites.
    </p>
    <p>
    <h4>8. Our service ensures secure communications with encryption</h4>
    From the time you submit your Personal information, these communications between your computer and booksupply.co are encrypted. This enables client and server applications to communicate in a way that is designed to prevent eavesdropping, tampering and message forgery.
    </p>
    <p>
    <h4>9. We post updates on our website whenever there is a change to our Privacy and Security Policy</h4>
    We update this Privacy & Security Policy periodically. The date last revised appears at the top of the Policy. Changes take effect immediately upon posting.
    </p>
    <p>
    <h4>10. Contact us if you have any questions or concerns</h4>
    If you have questions, comments, concerns or feedback regarding this Privacy and Security Policy or any other privacy or security concern, send an e-mail to contact@booksupply.co.
    </p>
    
   
  </div>
</div>