<div class="paper pagination-centered">

  <%= render :partial => 'shared/logo' %>

  <div class="content-box">
    <h1>Our team</h1>

    <div class="ind1 row-fluid">
      <p>
        <span class="team-person "><%= mail_to 'ryan@booksupply.co', 'Ryan' %></span> - 
        <span class="team-position">Founder/CEO/CTO</span> - 
        I graduated from USC, then worked as an accountant and Excel jockey for a few years. I liked it, but found that I loved programming more. I went through Devbootcamp, and afterwards my girlfriend was buying books when it occurred to me that the process could and should be much easier. When I'm not up late at night coding, I'm snowboarding and sampling the fine Northwest microbrews.
      </p>
       
    </div>

    
    <div class="ind1 row-fluid">
      <p>
        <span class="team-person"><%= mail_to 'shawn@booksupply.co', 'Shawn' %></span> - 
        <span class="team-position">Founder/President/COO</span> - 
        I graduated from USC with a degree in International Business, then spent the next several years working in finance. After a nice little career in mergers & acquisitions, I realized my passion for entrepreneurship and subsequently co-founded Book Supply Co with Ryan. In my free time, I enjoy staying active, playing music, and following college football.
      </p>
      
    </div>
  </div>
</div>