<div class="paper pagination-centered">

  <%= render :partial => 'shared/logo' %>

  <div class="content-box">
    <h1>Our team</h1>

    <p class="ind1"><span class="team-person ">Ryan</span> - <span class="team-position">Founder/CEO</span> - I graduated from USC, then worked as an accountant and Excel jockey for a few years. I liked it, but found that I loved programming more. I went through Devbootcamp, and afterwards my girlfriend was buying books when it occurred to me that the process could and should be much easier. When I'm not up late at night coding, I'm snowboarding and sampling the fine Northwest microbrews.</p>

    <p class="ind1"><span class="team-person">Shawn</span> - <span class="team-position">Partner/CDO</span> - I graduated from USC with a degree in International Business. After working at an investment management firm in the Bay Area, I spent the next several years in Newport Beach, CA working in mergers & acquisitions representing numerous public companies and private equity funds. After closing several acquisitions and platform investments, I realized my passion for entrepreneurship and subsequently joined Book Supply Co. I am also actively involved in the sports nutrition and fitness industries. In my free time, I enjoy staying active and supporting my beloved USC Trojan Football Team.</p>

      

  </div>
</div>