<div class="paper pagination-centered">

  <%= render :partial => 'shared/logo' %>

  <div class="content-box">
    <h1>Web Site Terms and Conditions of Use</h1>
    <h4>Last Revised: March 24, 2013</h4>


    <p>
      This Agreement sets forth the terms and conditions that apply to your access and use of the Internet Web site located at www.booksupply.co ("BSC" or “Book Supply” or “Book Supply Co” or “booksupply.co”), as owned and operated by Book Supply Co on behalf of those of its direct or indirect subsidiaries and/or affiliates, (collectively referred to as “BSC”). By using booksupply.co you agree to be bound by the terms and conditions of this Agreement and booksupply.co’s Privacy and Security Policy, as they may be amended from time to time in the future (see “Modifications” below).
    </p>
    <p>
      <h4>1. Terms</h4>
      By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.
    </p>
    <p>
      By using the information, tools, software, features and functionality including content, updates and new releases located on booksupply.co (together the “Service”), you agree to be bound by this Agreement, whether you are a “Visitor” (which means that you simply browse the booksupply.co website) or you are a “user” (which means that you have used booksupply.co to search for and/or purchase books). The term “you” or “User” refers to a Visitor or a User. The term “we” refers to BSC. Your use of the Service implies your acceptance of this Agreement. You may not use the Service and you may not accept this Agreement if you are not of a legal age to form a binding contract with BSC.
      If you accept this Agreement, you represent that you have the capacity to be bound by it or if you are acting on behalf of a company or entity that you have the authority to bind such entity. Before you continue, you should print or save a local copy of this Agreement for your records.
    </p>
    <p>
      <h4>2. Privacy and your Personal Information</h4>
      For information about BSC’s data protection practices, please read booksupply.co <%= link_to "Privacy and Security Policy", privacy_path %>, which is hereby incorporated into this Agreement. This policy explains how BSC treats your personal information when you access booksupply.co and use the Service. The policy may be updated from time to time at our discretion. Changes will be effective upon posting to the site.
    </p>
    <p>
      <h4>3. Description of the Service</h4>
      The Service is a college textbook deal finder that allows users to search, qualify, compare, and purchase textbooks from online retailers. The Service is provided to you by BSC without charge (it is free) and is meant as an aid to assist you in finding your textbooks at the cheapest prices between multiple online retailers. It is not intended to provide legal, tax, educational, or financial advice.
    </p>
    <p>
      <h4>4. Account Information from Third Party Sites</h4>
      With the Service, users may direct BSC to retrieve their own information maintained online by third-party institutions with which they have relationships, maintain accounts or engage in financial transactions (“Account Information”). BSC makes no effort to review the Account Information for any purpose, including but not limited to accuracy, legality or non-infringement. BSC is not responsible for the products and services offered by or on third-party sites. BSC cannot always foresee or anticipate technical or other difficulties, which may result in failure to obtain data or loss of data, personalization settings or other service interruptions. BSC cannot assume responsibility for the timeliness, accuracy, deletion, non-delivery or failure to store any user data, communications or personalization settings. For example, when displayed through the Service, Account Information is only as fresh as the time shown, which reflects when the information is obtained from such sites. Such information may be more up-to-date when obtained directly from the relevant sites. 
    </p>
    <p>
      <h4>5. Third-Party Links</h4>
      Some parts of the Service are supported by sponsored links from advertisers. BSC does not endorse, warrant or guarantee the products or services available through third-party products or services advertised on or linked from our site, whether or not sponsored, and BSC is not an agent or broker or otherwise responsible for the activities or policies of those web sites. BSC does not guarantee that the deal or other service terms, rates or rewards offered by any particular advertiser or other third party on booksupply.co are actually the terms that may be offered to you if you pursue the offer or that they are the best terms or lowest rates available in the market. If you access any third party website, service, or content from BSC, you do so at your own risk and you agree that Pinterest will have no liability arising from your use of or access to any third-party website, service, or content.
      
    </p>
    <p>
      <h4>6. Use License</h4>
      Your right to access and use booksupply.co and the Service is personal to you and is not transferable by you to any other person or entity. You are only entitled to access and use booksupply.co for lawful purposes.
      Permission is granted to temporarily download one copy of the materials (information or software) on Book Supply Co.'s web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
      <ul>
        <li>modify or copy the materials;</li>
        <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
        <li>attempt to decompile or reverse engineer any software contained on Book Supply Co.'s web site;</li>
        <li>remove any copyright or other proprietary notations from the materials; or</li>
        <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
      </ul>
      This license shall automatically terminate if you violate any of these restrictions and may be terminated by Book Supply Co. at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format. 
      Your access and use of booksupply.co may be interrupted from time to time for any of several reasons, including, without limitation, the malfunction of equipment, periodic updating, maintenance or repair of booksupply.co or other actions that BSC, in its sole discretion, may elect to take.
      You agree that BSC may use your feedback, suggestions, or ideas in any way, including in future modifications of the Service, other products or services, advertising or marketing materials. You grant BSC a perpetual, worldwide, fully transferable, sublicensable, irrevocable, fully paid-up, royalty free license to use the feedback you provide to BSC in any way. BSC will not sell, publish or share your feedback in a way that could identify you without your explicit permission.
    </p>
    <p>
      <h4>7. Use With Your Mobile Device</h4>
      Use of these Service may be available through a compatible mobile device, Internet and/or network access and may require software. You agree that you are solely responsible for these requirements, including any applicable changes, updates and fees as well as the terms of your agreement with your mobile device and telecommunications provider. BSC MAKES NO WARRANTIES OR REPRESENTATIONS OF ANY KIND, EXPRESS, STATUTORY OR IMPLIED AS TO: (i) THE AVAILABILITY OF TELECOMMUNICATION SERVICES FROM YOUR PROVIDER AND ACCESS TO THE SERVICES AT ANY TIME OR FROM ANY LOCATION; (ii) ANY LOSS, DAMAGE, OR OTHER SECURITY INTRUSION OF THE TELECOMMUNICATION SERVICES; AND (iii) ANY DISCLOSURE OF INFORMATION TO THIRD PARTIES OR FAILURE TO TRANSMIT ANY DATA, COMMUNICATIONS OR SETTINGS CONNECTED WITH THE SERVICES.
    </p>
    <p>
      <h4>8. Rights You Grant to Us</h4>
      By submitting information, data, passwords, usernames, PINs, other log-in information, materials and other content to BSC through the Service, you are licensing that content to BSC solely for the purpose of providing the Service. BSC may use the content, but only to provide the Service to you, and WILL NEVER STORE IT PERMANENTLY. By submitting this content to BSC, you represent that you are entitled to submit it to BSC for use for this purpose, without any obligation by BSC to pay any fees or other limitations. By using the Service, you expressly authorize BSC to access your course and book list maintained by identified third parties, on your behalf as your agent. BSC will submit information including usernames and passwords that you provide to log you into the site. You hereby authorize and permit BSC to use information submitted by you to the Service (such as account passwords and user names) to accomplish the foregoing and to configure the Service so that it is compatible with the third party sites for which you submit your information. For purposes of this Agreement and solely to provide the Account Information to you as part of the Service, you grant BSC a limited power of attorney, and appoint BSC as your attorney-in-fact and agent, to access third party sites, retrieve and use your information with the full power and authority to do and perform each thing necessary in connection with such activities, as you could do in person. YOU ACKNOWLEDGE AND AGREE THAT WHEN BSC IS ACCESSING AND RETRIEVING ACCOUNT INFORMATION FROM THIRD PARTY SITES, BSC IS ACTING AS YOUR AGENT, AND NOT AS THE AGENT OF OR ON BEHALF OF THE THIRD PARTY. You understand and agree that the Service is not sponsored or endorsed by any third parties accessible through the Service.
    </p>
    <p>
      <h4>9. BSC’s Intellectual Property Rights</h4>
      The contents of booksupply.co, including its “look and feel” (e.g., text, graphics, images, logos and button icons), photographs, editorial content, notices, software (including html-based computer programs) and other material are protected under both United States and other applicable copyright, trademark and other laws. The contents of booksupply.co belong or are licensed to BSC or its software or content suppliers. BSC grants you the right to view and use booksupply.co subject to these terms. You may download or print a copy of information provided on booksupply.co for your personal, internal and non-commercial use only. Any distribution, reprint or electronic reproduction of any content from booksupply.co in whole or in part for any other purpose is expressly prohibited without our prior written consent.
    </p>
    <p>
      <h4>10. Access and Interference</h4>
      You agree that you will not:

      Use any robot, spider, scraper, deep link or other similar automated data gathering or extraction tools, program, algorithm or methodology to access, acquire, copy or monitor booksupply.co or any portion of booksupply.co, without BSC’s express written consent, which may be withheld in BSC’s sole discretion;
      <ul>
      <li>Use or attempt to use any engine, software, tool, agent, or other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or search booksupply.co, other than the search engines and search agents available through the Service and other than generally available third-party web browsers (such as Microsoft Explorer);</li>
      <li>Post or transmit any file which contains viruses, worms, Trojan horses or any other contaminating or destructive features, or that otherwise interfere with the proper working of booksupply.co or the Service; or</li>
      <li>Attempt to decipher, decompile, disassemble, or reverse-engineer any of the software comprising or in any way making up a part of booksupply.co or the Service.</li>
      </ul>
    </p>
    <p>
      <h4>11. Social Media Sites</h4>
      BSC may provide experiences on social media platforms such as Facebook®, Twitter® and LinkedIn® that enable online sharing and collaboration among users who have registered to use them. Any content you post, such as pictures, information, opinions, or any Personal Information that you make available to other participants on these social platforms, is subject to the Terms of Use and Privacy Policies of those platforms. Please refer to those social media platforms to better understand your rights and obligations with regard to such content.
    </p>
    <p>
      <h4>12. Disclaimer of Representations and Warranties</h4>
      THE CONTENT AND ALL SERVICES AND PRODUCTS ASSOCIATED WITH BOOKSUPPLY.CO OR PROVIDED THROUGH THE SERVICE (WHETHER OR NOT SPONSORED) ARE PROVIDED TO YOU ON AN “AS-IS” AND “AS AVAILABLE” BASIS. BSC MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE CONTENT OR OPERATION OF BOOKSUPPLY.CO OR OF THE SERVICE. YOU EXPRESSLY AGREE THAT YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. BSC MAKES NO REPRESENTATIONS, WARRANTIES OR GUARANTEES, EXPRESS OR IMPLIED, REGARDING THE ACCURACY, RELIABILITY OR COMPLETENESS OF THE CONTENT ON BOOKSUPPLY.CO OR OF THE SERVICE (WHETHER OR NOT SPONSORED), AND EXPRESSLY DISCLAIMS ANY WARRANTIES OF NON-INFRINGEMENT OR FITNESS FOR A PARTICULAR PURPOSE. BSC MAKES NO REPRESENTATION, WARRANTY OR GUARANTEE THAT THE CONTENT THAT MAY BE AVAILABLE THROUGH THE SERVICE IS FREE OF INFECTION FROM ANY VIRUSES OR OTHER CODE OR COMPUTER PROGRAMMING ROUTINES THAT CONTAIN CONTAMINATING OR DESTRUCTIVE PROPERTIES OR THAT ARE INTENDED TO DAMAGE, SURREPTITOUSLY INTERCEPT OR EXPROPRIATE ANY SYSTEM, DATA OR PERSONAL INFORMATION.
    </p>
    <p>
      <h4>13. Limitations on BSC’s Liability</h4>
      BSC SHALL IN NO EVENT BE RESPONSIBLE OR LIABLE TO YOU OR TO ANY THIRD PARTY, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY, LIQUIDATED OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO LOSS OF PROFIT, REVENUE OR BUSINESS, ARISING IN WHOLE OR IN PART FROM YOUR ACCESS TO BOOKSUPPLY.CO, YOUR USE OF THE SERVICE OR THIS AGREEMENT, EVEN IF BSC HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
    </p>
    <p>
      <h4>14. Your Indemnification of BSC</h4>
      You shall defend, indemnify and hold harmless BSC and its officers, directors, shareholders, partners, and employees, from and against all claims and expenses, including but not limited to attorneys fees, in whole or in part arising out of or attributable to any breach of this Agreement by you.
    </p>
    <p>
      <h4>15. Modifications</h4>
      BSC may modify this Agreement from time to time. Any and all changes to this Agreement will be posted on the booksupply.co site. In addition, the Agreement will always indicate the date it was last revised. You are deemed to accept and agree to be bound by any changes to the Agreement when you use the Service after those changes are posted.
    </p>
    <p>
      <h4>16. Governing Law and Forum for Disputes</h4>
      This Agreement, and your relationship with BSC under this Agreement, shall be governed by the laws of the State of Oregon without regard to its conflict or choice of laws provisions. Any dispute with BSC, or its officers, directors, employees, agents or affiliates, arising under or in relation to this Agreement shall be resolved exclusively through the small-claims court within the county of Multnomah, Oregon, except with respect to imminent harm requiring temporary or preliminary injunctive relief in which case BSC may seek such relief in any court with jurisdiction over the parties. You understand that, in return for agreement to this provision, BSC is able to offer the Service at the terms designated, without charge to you, and that your assent to this provision is an indispensable consideration to this Agreement. You also acknowledge and understand that, with respect to any dispute with BSC, its officers, directors, employees, agents or affiliates, arising out of or relating to your use of the Service or this Agreement:
    </p>
    <p>
      <ul>
      <li>YOU ARE GIVING UP YOUR RIGHT TO HAVE A TRIAL BY JURY; and</li>
      <li>YOU ARE GIVING UP YOUR RIGHT TO SERVE AS A REPRESENTATIVE, AS A PRIVATE ATTORNEY GENERAL, OR IN ANY OTHER REPRESENTATIVE CAPACITY, OR TO PARTICIPATE AS A MEMBER OF A CLASS OF CLAIMANTS, IN ANY LAWSUIT INVOLVING ANY SUCH DISPUTE.</li>
      </ul>
    </p>
    <p>
      <h4>17. Miscellaneous</h4>
      If any portion of this Agreement is deemed unlawful, void or unenforceable by any arbitrator or court of competent jurisdiction, this Agreement as a whole shall not be deemed unlawful, void or unenforceable, but only that portion of this Agreement that is unlawful, void or unenforceable shall be stricken from this Agreement.
      You agree that if BSC does not exercise or enforce any legal right or remedy which is contained in the Agreement (or which BSC has the benefit of under any applicable law), this will not be taken to be a formal waiver of BSC’s rights and that those rights or remedies will still be available to BSC. All covenants, agreements, representations and warranties made in this Agreement shall survive your acceptance of this Agreement and the termination of this Agreement. This Agreement represents the entire understanding and agreement between you and BSC regarding the subject matter of the same, and supersedes all other previous agreements.
    </p>
    <p>
      <h4>18. Disclaimer</h4>
      The materials on Book Supply Co.'s web site are provided "as is". Book Supply Co. makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Book Supply Co. does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
    </p>


   
  </div>
</div>