<div class="span4 about-point">
  <div class="icon-image">
    <i class="icon-time"></i>
  </div>
  <h2>Save time</h2>
  <p class="about-explanation">Book Supply Co. figures out the books you need for the courses you're already registered for, and finds them on sale online at reputable merchants like Amazon and Barnes & Noble.</p>
</div>

<div class="span4 about-point">
  <div class="icon-image">
    <i class="icon-money"></i>
  </div>
  <h2>Save money</h2>
  <p class="about-explanation">Online booksellers are often 20% to 40% cheaper since they can purchase and process in bulk. Their savings can be your savings when you buy your books online.</p>
</div>

<div class="span4 about-point">
  <div class="icon-image">
    <i class="icon-lock"></i>
  </div>
  <h2>Stay safe</h2>
  <p class="about-explanation">Book Supply Co. uses the latest web security standards to make sure your information is secure in transit, then discards it forever so it can never be stolen or misused.</p>
</div>