<div class="row-fluid">
	<div class="logo-container">
		<%= link_to new_booklist_url :school => @school.slug do %>
			<div class="logo-box">
				<h1 class="logo">BOOK SUPPLY CO.</h1>
			</div>
			<div class="school-box">
				<h2 class="school-name" data-slug="<%= @school.slug %>"><%= @school.name.upcase %></h2>
			</div>
		<% end %>
		<div class="subtag">
			All your books, online, for cheap. No lines, no wait!
		</div>
	</div>
</div>