<div class="row-fluid">
	<div class="logo">
		<%= link_to root_url do %>
			<%= image_tag 'logo.png' %>
		<% end %>
	</div>
	<div class="school">
		<%= image_tag 'psu-sublogo.png' %>
	</div>
	<div class="subtag">
		All your books, online, for cheap. No lines, no wait!
	</div>
</div>