<div class="row-fluid">
	<div class="logo-container">

		<% if @school %>
			<%= link_to new_booklist_url :school => @school.slug do %>
				<div class="logo-box">
					<h1 class="logo">BOOK SUPPLY CO.</h1>
				</div>
				<div class="school-box">
					<%= content_tag :h2, @school.name.upcase, :class => "school-name", :'data-slug' => @school.slug %>
	
				</div>
			<% end %>
		<% else %>
			<%= link_to root_url do %>
				<div class="logo-box">
					<h1 class="logo">BOOK SUPPLY CO.</h1>
				</div>
			<% end %>
		<% end %>


	</div>
</div>