<div class="row-fluid">
	<div class="logo">
		<%= link_to root_url do %>
			<%= image_tag 'logo.png' %>
		<% end %>
	</div>
	<div class="school">
		<%= image_tag 'psu-sublogo.png' %>
	</div>
	<div class="subtag">
		Save up to 40% versus the bookstore in 60 seconds or less!
	</div>
</div>