<ul class="social-row row-fluid">
  <li class="social-button facebook">
  	<%= render :partial => '/shared/facebook', :locals => {:faces => false} %>
  </li>
  <li class="social-button twitter">
    <%= render :partial => '/shared/twitter' %>
  </li>
</ul>