<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-lang="en" data-text="I just saved a ton on my books for class using @booksupplyco!">Tweet</a>
<a href="https://twitter.com/booksupplyco" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow</a>