<div class="modal hide fade" id="bnModal" >
	<div class="modal-body" id="bnModal-body">
		<h2>Welcome to the internet, circa 1995.</h2>
		<p>Barnes and Noble, in its infinite wisdom, does not allow you to add more than one book at a time. If you click each of these links, your selected books will be added to your cart one by one.</p>
		<table id="bnLinks" class="table table-hover table-striped">

		</table>
	</div>
</div>