<div class="row-fluid">
	<div class="logo">
		<%= image_tag 'logo.png' %>
	</div>
	<div class="school">
		Portland State
	</div>
	<div class="subtag">
		Save up to 40% versus the bookstore in 60 seconds or less!
	</div>
</div>