<div class="row-fluid pagination-centered">
	<div class="span12">

		<div class="logo-outer">
			<div class="logo-inner">

				<div class="logo-front">
					<%= render :partial => 'logo' %>
				</div>
				
				<div class="loginform">
					<%= render :partial => 'loginform' %>
				</div>

			</div>
		</div>

		<%= render :partial => 'loading_modal' %>

	</div>
</div>