<div class="tri-column">
  <div id="curiousDemo" class="action-wrapper">
    <div class="action-label-div">
      <div class="action-label">Curious?</div>
    </div>
    <%= link_to example_path do %> 
      <button id="demo-button" class="btn btn-warning action-button small-action-button">Show me a demo</button>
    <% end %>
  </div>
</div>

<div class="tri-column">
  <div id="readyStart" class="action-wrapper">
    <div class="action-label-div">
      <div class="action-label big-action-label">Ready?</div>
    </div>
    <button id="try-button" class="btn big-ass-button btn-large btn-school action-button">
      Get started - It's free!
    </button>
  </div>
</div>

<div class="tri-column">
  <div id="skepticalAbout" class="action-wrapper">
    <div class="action-label-div">
      <div class="action-label">Skeptical?</div>
    </div>
    <%= link_to about_path do %>  
      <button id="tell-me-more" class="btn btn-warning action-button small-action-button">Tell me more</button>
    <% end %>
  </div>    
</div>




