<div class="book-row-outer" data-ean="<%= book.ean %>">
<div class="row-fluid book-row-inner">
  <!-- Requirement -->
  <div class="span2  book-requirement book-cell">
    <div class="book-attr">
      <span class="label <%= requirement_class(book.requirement) %> book-content">
        <%= book.requirement %>
      </span>
    </div>
  </div>
  <!-- Title -->
  <div class="span6 book-title book-cell">
    <div class="book-attr">
      <span class="book-content">
        <%= book.title %>
      </span>
    </div>
  </div>
  <!-- New price -->
  <div class="span2 book-price price-new book-cell">
    <div class="book-attr">
       <div class="book-button-outer">
        <div class="book-button-inner">
          
        </div>
        <div class="loading"></div>
      </div>
      <div class="wireline"></div>
      <div class="book-button-handle">
        <span class="handle-content"><i class="icon-double-angle-down"></i></span>
      </div>
    </div>
  </div>
  <!-- Used price -->
  <div class="span2 book-price price-used book-cell">
    <div class="book-attr">
      <div class="book-button-outer">
        <div class="book-button-inner">
          
        </div>
        <div class="loading"></div>
      </div>
      <div class="wireline"></div>
      <div class="book-button-handle">
        <span class="handle-content"><i class="icon-double-angle-down"></i></span>
      </div>
    </div>
  </div>

</div>
</div>