<!-- Headers -->
<div class="row-fluid">
  <div class="span2 book-header">
    <!-- Required -->
  </div>
  <div class="span6 book-header">
    <!-- Title -->
  </div>
  <div class="span2 book-header">
    New
  </div>
  <div class="span2 book-header">
    Used
  </div>
</div>