<div id="go-time">
  <div id="flash">
    <%= render :partial => 'shared/flash_display', :locals => { :flash => flash } %>
  </div>
  <div class="loginform">
    <%= render :partial => 'loginform' %>
  </div>
</div>