<div class="modal hide fade" id="loadingModal" >
	<div class="modal-body" id="loadingModal-body">
		<div id="icon-carousel" class="carousel slide">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item">
					<button class ="btn search-icon">
						<%= @school.bookstore_name %>
					</button>
				</div>
		    <div class="item">
		    	<button class ="btn search-icon">
						<%= image_tag 'amazon-icon-100.png' %>
					</button>
		    </div>
		    <div class="item">
		    	<button class ="btn search-icon">
						<%= image_tag 'bn-icon-100.png' %>
					</button>
		    </div>
		  </div>
		</div>
	<h3>Searching... this will only take a bit.	</h3>
	<h5>Meanwhile, if you recommend us on facebook we can be, like, best friends.</h5>
	<div>
	<%= render :partial => 'shared/facebook' %>
	</div>
	</div>
</div>