<div class="modal hide fade" id="loadingModal" >
	<div class="modal-body" id="loadingModal-body">
		<h2 class="searching"> Searching </h2>
		<div id="icon-carousel" class="carousel slide">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item">
					<button class ="btn search-icon">
						<%= @school.bookstore_name %>
					</button>
				</div>
		    <div class="item">
		    	<button class ="btn search-icon">
						<%= image_tag 'amazon-icon-100.png' %>
					</button>
		    </div>
		    <div class="item">
		    	<button class ="btn search-icon">
						<%= image_tag 'bn-icon-100.png' %>
					</button>
		    </div>
		  </div>
		</div>
		<p>Thanks for checking out Book Supply Co! We've put a lot of time, thought, and effort into making buying your books as cheap and easy as possible, and we hope we can help you.</p>

    <p>Please take a moment to "Like" us and spread the word to your friends and classmates. Let's help everyone get cheap books.</p>

    <div class="modal-facebook-row">
      <%= render :partial => 'shared/facebook', :locals => {:faces => true} %>
    </div>
	</div>
</div>