      <p> Here are your books! We've searched all over the internet to find the lowest prices on the books you need for this semester's classes. </p>
      <p>Just choose whether you want a new or used book, then click the orange button at the bottom to checkout.</p>