<div id="teach-me">
  <div class="demo">
    <div class="demo-column">
      <div class="demo-column-image" id="teach-login"></div>
      <div class="demo-column-text">
        <span>1. Enter your <%= @school.user_id_label %> and password.</span>
      </div>
    </div>
    <div class="demo-column">
      <div class="demo-column-image" id="teach-find"></div>
      <div class="demo-column-text">
        <span>2. We find the lowest prices for the books YOU need this semester.</span>
      </div>
    </div>
    <div class="demo-column">
      <div class="demo-column-image"></div>
      <div class="demo-column-text">
        <span>3. Buy your books from partners like Amazon and Barnes and Noble.</span>
      </div>
    </div>
  </div>
  <div class="try-div">
    <button id="try" class="btn big-ass-button btn-large btn-school"> Try it now—It's free!</button>
  </div>
</div>