<ol id="tour">
	<li>
		<h3>Welcome to Book Supply Co.!</h3>

		<p>It looks like it's your first time here. Let me show you how easy it is to buy your books in under 60 seconds!</p>
	</li>
	<li data-class="first">
		<h3>Select your books!</h3>
		<p>Once these prices load, you can select or unselect them by clicking on the price. Go ahead and try it!</p>
	</li>
	<li data-id="checkout-button" data-position="right">
		<h3>Checkout</h3>
		<p>When you're done selecting books, Book Supply Co. will put them in a cart for you to buy at Amazon or Barnes and Noble. It's really that easy!</p>
	</li>
	<li data-class="simple-button">
		<h3>Just links</h3>
		<p>If plain 'ol links are your thing, you can do that too. In fact, you can just switch between these two.</p>
	</li>
	<li data-button="Got it! Thanks!">
		<h3>Double Check!</h3>
		<p>Book Supply Co. does its very best to make buying your books a quick, simple, and cheap process. However, please do not forget to double check the items in your cart for things like shipping times, the condition of used books and things like included online subscriptions or CDs. We're continually working on making it an easier process for you, and hope to make these considerations available to you here in the future.</p>
	</li>
</ol>