

<div class="row pagination-centered">
	<div class="span12">



		<div class="book-card">
			<div class="logo-head">
				<%= render :partial => 'shared/logo' %>
			</div>

			<div class="socials">
				<%= render :partial => 'shared/socials' %>
			</div>

			<%= render :partial => 'book_card' %>
		</div>

<!-- 		<button class="btn btn-mini btn-success" id="tour-button">Take the tour again</button> -->


	</div>
</div>

<%#= render :partial => 'tour' %>

<% content_for :page_js do %>
	<%= javascript_include_tag "booklists/show", :debug => false %>
<% end %>