

#paper-box {
  display: none;
  position: relative;
  height: 650px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.logo-inner {
  margin-bottom: 20px;

}

.logo-front {
  margin: 0px auto 20px auto;
}

#teach-me{
  display:none;
}

#new-page-main-content{
  height: 317px;
}

.demo{
  height: 300px;
  margin: 0 auto;
}

.tri-column{
  height: 100%;
  margin: 0px 1.25%;
  width: 30.75%;
  float: left;
  position: relative;
  display: hidden;
}

.demo-column{
  display: none;
  background: rgba(200,200,200,0.5);
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.demo-column-image{
  height: 200px;
  margin: 15px;
  border: 3px solid silver;
  background-color:silver;
  background-repeat: no-repeat;
}

.demo-column-text{
  height: 20%;
  margin: 10px;
  font-size: 12pt;
}

#teach-login{
  background: url(teach-login.jpg);
  background-position: center center;
}

#teach-find{
  background: url(teach-find.jpg);
  background-position: center center;
}

#teach-vendors{
  background: url(teach-vendors.jpg);
  background-position: center center;
}

.action-wrapper{
  display: none;
}

.actions-div{
  height: 120px;
  margin: 0px auto;
  clear: both;
}

.action-label-div{
  height: 50px;
}

.action-label{
  margin-top: 20px;
  font-size: 14pt;
}

.big-action-label{
  font-size: 22pt;
}

.action-button{
  margin: 0 auto;
}

.small-action-button{
  margin-top:15px;
}

#tell-me-more{
  clear: both;
}

#go-time{
  display: none;
  position: relative;
  margin: none;
}

#about-handle{
  font-size: 14pt;
}

.loginform{
  margin: 0px auto;
}

.login {
  margin: 0px auto;
}

td.form-label-cell label {
  text-align: right;
  padding-right: 10px;
  font-size: 18pt;
}

td.form-field-cell input{
  font-size: 18pt;
  height: 30px;
  font-family: 'Gochi Hand', cursive;
}

input#booklist_username {
  background-color: #FAFFBD;
}

input#booklist_password {
  background-color: #FAFFBD;
}

// For loading modal

#loadingModal {
  height: 600px;
  overflow: visible;
}

#loadingModal-body {
  overflow-y: visible;
}

.searching{
  text-align: center;
}

#intro-carousel {
  width: 100%;
  height: 300px;
}

button.search-icon {
  width: 130px;
  height: 110px;
  font-size: 16pt;
  font-weight: bold;
}


// For about

.icon-image {
  font-size: 48pt;
}

.other-school{
  width: 100px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin: 0px 0px 0px -50px;
}
