// Place all the styles related to the booklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Styles

.shadow-button-style{
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;
}

.ui-transition-style{
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.selected-style{
  background-color: black;
  color: white;
}

.selectable-style{
  cursor: pointer;
}

// 

.book-card {
  background-image: url(linedpaper.png);
  border: 3px solid #DDD;
  padding: 50px 0px 50px 0px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin: 20px auto 50px;
}

.book-card-container {
  padding:  3.19% // This is half of one grid space
}

.book-header{
  font-size:18pt;
}

$row-height: 35px !default;

// Course rows

.course-row{
  height: $row-height
}

.course-attr{
  text-align: left;
  font-size: 18pt;
}

// Book rows
div.book-row-outer{
  position: relative;
}

div.book-row-inner{
  margin: 5px auto 25px;
}

.book-cell{
  height: $row-height
}

.book-button-outer{
  border: 1px solid silver;
  height: $row-height;
  background-color: white;
  text-shadow: 0.07em 0.07em 0.07em silver;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @extend .shadow-button-style
}

.selectable .book-button-inner{
  @extend .selectable-style;
}


.selected .book-button-outer{
  @extend .ui-transition-style;
  @extend .selected-style;
}

.deselected .book-button-outer{
  @extend .ui-transition-style;
}

.wireline{
  width: 2px;
  margin: 0px auto;
  background-color: black;
}

.book-button-handle{
  $button-height: 15px;
  margin: -1px auto 0px;
  width: 50%;
  height: $button-height;
  border: 1px solid silver;
  font-size: 10pt;
  line-height: $button-height;
  color: black;
  background-color: white;
  @extend .shadow-button-style;
  @extend .selectable-style;

}

.loading {
  margin: auto auto;
  background-image: url(ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  height: $row-height;
}

.book-attr{
  line-height: $row-height;
}

.book-requirement{
  text-align: left;
}


.book-title{
  text-align: left;
  font-size: 14pt;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-wrap: ellipsis; 
  white-space: nowrap;
}

.book-price{
  font-size: 18pt;
}

.price-content{

}

$offer-row-height: 40px;
$offer-row-width: 400px;

.offer-box{
  float: right;
  position: relative;
  margin: 25px 0px 30px;
  width: $offer-row-width;
}



.offer-row{
  width: $offer-row-width;
  height: $offer-row-height;
  border: 1px solid silver;
  margin: 5px 0px 5px;
  background-color: white;
  padding: 5px;
  float: right;
  @extend .shadow-button-style;
}

.selectable .offer-row{
  @extend .selectable-style;
}

.offer-row.active{
  margin: 1px 4px 9px 0px;
  -moz-box-shadow:    4px 4px 4px 2px #ccc;
  -webkit-box-shadow: 4px 4px 4px 2px #ccc;
  box-shadow:         4px 4px 4px 2px #ccc;
  @extend .ui-transition-style;
}

.offer-row.inactive{
  @extend .ui-transition-style;
}

.offer-row.amazon, .book-button-inner.amazon{
  background-image: url(amazon-bg.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.offer-row.bn, .book-button-inner.bn{
  background-image: url(bn-bg.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.offer-row.selected{
  @extend .selected-style
}

.offer-column-link{
  width: 10%;
  height: 100%;
  float: left;
  font-size: 18pt;
  line-height: $offer-row-height;
}

.offer-column-link a:hover{
  text-decoration: none;
}


.offer-column-left{
  width: 25%;
  float: left;
  text-align: left;
}

.offer-column-right{
  width: 65%;
  height: 100%;
  float: right;
  font-size: 8pt;
  text-align: left;
}

.offer-price{
  font-size: 18pt;
  line-height: 18pt;
}

.offer-vendor{
  font-size: 10pt;
}

.offer-column-row{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-wrap: ellipsis; 
  white-space: nowrap;
  height: 22px;
}

.offer-detailed-condition{
  height: 20px;
  font-size: 11pt;
}

.offer-shipping-time{
  height: 20px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.offer-comments-row{
  margin-top: 3px;
}
