


#paper-box {
  position: relative;
  height: 600px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.logo-inner {
  margin-bottom: 20px;

}

.logo-front {
  margin: 0px auto 20px auto;
}

.demo{
  width: 600px;
  height: 300px;
  border: 1px solid silver;
  background-color: white;
  margin: 0 auto;
}

.try-div{
  margin: 40px auto;
  clear: both;
}

#about-handle{
  font-size: 14pt;
}

.go-time{
  margin-top: 80px;
}

.loginform{
  margin: 10px auto;
}

.login {
  margin: 0px auto;
}

td.form-label-cell label {
  text-align: right;
  padding-right: 10px;
  font-size: 18pt;
}

td.form-field-cell input{
  font-size: 18pt;
  height: 30px;
  font-family: 'Gochi Hand', cursive;
}

input#booklist_username {
  background-color: #FAFFBD;
}

input#booklist_password {
  background-color: #FAFFBD;
}

input.big-ass-button, button.big-ass-button{
  font-size: 18pt;
}

// For loading modal

#loadingModal {
  overflow: visible;
}

#loadingModal-body {
  overflow-y: visible;
}

#intro-carousel {
  width: 100%;
  height: 300px;
}

button.search-icon {
  width: 130px;
  height: 110px;
  font-size: 16pt;
  font-weight: bold;
}


// For about

.icon-image {
  font-size: 48pt;
}

.other-school{
  width: 100px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin: 0px 0px 0px -50px;
}
