// This file contains the default styles for the logo.

div.logo-container a{
	text-decoration: none;
}

h1.logo {
	font-family: "FuturaBold";
	font-size: 48pt;
	text-shadow: 0.05em 0.07em 0.07em black;
	color: #6A7F10;
	margin: 0 auto 0 auto;
}

.logo-box {
	margin: 20px auto 60px auto;
}

.school-name {
	font-family: "FuturaBold";
	text-shadow: 0.05em 0.07em 0.06em black;
	margin: 20px auto 0px auto;
}

h2.school-name{
	font-size: 42pt;
}

@media(max-width:480px){
	h1.logo{
		font-size: 28pt;
	}

	h2.school-name{
		font-size: 24pt;
	}
	.logo-box {
	margin: 20px auto 20px auto;
	}
}

@media(max-width:640px){
	h1.logo{
		font-size: 28pt;
	}

	h2.school-name{
		font-size: 24pt;
	}
	.logo-box {
	margin: 20px auto 20px auto;
	}
}