// This file contains the default styles for the logo.


h1.logo {
	font-family: "FuturaBold";
	font-size: 44pt;
	text-shadow: 0.05em 0.07em 0.07em black;
	color: #6A7F10;
	margin: 0 auto 0 auto;
}

.logo-box {
	margin: 20px auto 40px auto;
}

h2.school-name {
	font-family: "FuturaBold";
	font-size: 36pt;
	text-shadow: 0.05em 0.07em 0.06em black;
	margin: 0 auto 0 auto;
}

.school-box {}