// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#paper-box-index{
  position: relative;
  height: 600px;
  width: 80%;
  display: none;
}

div#schools-index-box{
  text-align: center;
  padding: 20px 0px;
  display: none;
}

#schools-index-box a{
  text-decoration: none;
}

div.index-content-box{
  min-height: 417px;
}

div.school-row {
	margin: 0px auto 10px auto;
}


.main-front-row{
  margin: 25px auto;
  padding: 10px;
}

.index-school-name{
  font-size: 42pt;
  text-shadow: 0.05em 0.07em 0.06em black;
  margin: 0px auto;
}


