// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image:url('bg.jpg');
}

#main {
	background-image: url(bubble.png);
	background-repeat: no-repeat;
	background-position: center top;
	min-height: 400px;
}

.logo {
	margin: 150px auto 20px auto;
}

.school {
	font-family: "Brush Script Std", "Brush Script MT", cursive;
	font-size: 30pt;
	margin: 10px auto;
}

.subtag{
	font-family: "Brush Script Std", "Brush Script MT", cursive;
	font-size: 14pt;
		margin: 10px auto;
}

.loginform{
	margin: 10px auto;
}

.login {
	margin: 0px auto;
}

.form-label-cell {
	text-align: right;
	padding-right: 10px;
}

.form-field-cell {
}

.form-field {
	background-color: #FAFFBD;
}

#intro-carousel {
	width: 100%;
	height: 300px;
}

.book-table {
	margin: 0px auto;
	background-color: rgba(255,255,255,0.7);
}

.book-table td,th{
	padding: 5px;
}

.course-header {
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}

.book-title {
	text-align: left;
	text-indent: 10px;
}

.book-bookstore {
	text-align: center;
}

.book-amazon {
	text-align: center;

}

.requirement {
	font-size: 7pt;
}

.loading {
	margin: auto;
	background-image: url(ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
}


