// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image:url('bg.jpg');
}

.spotlight {
	background-image: url(bubble.png);
	background-repeat: no-repeat;
	background-position: center top;
	min-height: 400px;
}

#flash{
	margin: 20px auto;
}

.logo-front {
	margin: 130px auto 20px auto;
}

.logo-head {

}

.logo {
	margin: 20px auto 20px auto;
}

.school {
	font-family: "Brush Script Std", "Brush Script MT", cursive;
	font-size: 30pt;
	margin: 10px auto;
}

.subtag{
	font-family: "Brush Script Std", "Brush Script MT", cursive;
	font-size: 14pt;
		margin: 10px auto;
}

.loginform{
	margin: 10px auto;
}

.login {
	margin: 0px auto;
}

.form-label-cell {
	text-align: right;
	padding-right: 10px;
}

.form-field-cell {
}

.form-field {
	background-color: #FAFFBD;
}

#intro-carousel {
	width: 100%;
	height: 300px;
}

.book-card {
	background-color: rgba(255,255,255,1);
	border: 3px solid #DDD;
	padding: 10px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

.book-table {
	margin: 0px auto;

}

.book-table thead {
	border-bottom: 2px solid #CC0052;
}

.book-table td,th{
	padding: 5px;
}

.course-header {
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}

.book-title {
	text-align: left;
	text-indent: 10px;
}

.book-bookstore {
	text-align: center !important;
}

.book-amazon {
	text-align: center !important;

}

.requirement {
	font-size: 7pt;
}

.loading {
	margin: auto;
	background-image: url(ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
}

.search-icon {

}
