// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// VARIABLES ------------/

$psu-primary-color: rgba(106,127,16,1);
$psu-secondary-color: rgba(168,180,0,1);


// COMMON ---------------/


body {
	background-image:url('bg.jpg');
}

#flash{
	margin: 20px auto;
}

.logo {
	margin: 20px auto 20px auto;
}

.school {
	font-family: "Brush Script Std", "Brush Script MT", cursive;
	font-size: 30pt;
	margin: 10px auto;
}

.subtag{
	font-family: "Brush Script Std", "Brush Script MT", cursive;
	font-size: 14pt;
		margin: 10px auto;
}


.logo-head {
		margin: 0px auto 20px;
}

.socials {
	margin: 20px auto;
}

.social-row {
	margin: 5px auto;
}



// #NEW ---------------/

.logo-outer {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	left: 0px;
	float:left;
}

.logo-inner {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -250px;
	background-image: url(bubble.png);
	background-repeat: no-repeat;
	background-position: center -110px;

}

.logo-front {
	margin: 0px auto 20px auto;
}


.loginform{
	margin: 10px auto;
}

.login {
	margin: 0px auto;
}

.form-label-cell {
	text-align: right;
	padding-right: 10px;
}

.form-field-cell {
}

.form-field {
	background-color: #FAFFBD;
}

.about-info{
	padding: 20px;
	
}

.about-point{
	margin: 20px auto;
}

.about-explanation{
	padding: 10px;
	background-color: transparentize($psu-secondary-color,0.3);
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

#loadingModal {
	overflow: visible;
}

#loadingModal-body {
	overflow-y: visible;
}

#intro-carousel {
	width: 100%;
	height: 300px;
}

.icon-image {
	font-size: 48pt;
}

.btn-school {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: $psu-primary-color;
  *background-color: $psu-primary-color;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(lighten($psu-primary-color,7)), to($psu-primary-color));
  background-image: -webkit-linear-gradient(top, lighten($psu-primary-color,7), $psu-primary-color);
  background-image: -o-linear-gradient(top, lighten($psu-primary-color,7), $psu-primary-color);
  background-image: linear-gradient(to bottom, lighten($psu-primary-color,7), $psu-primary-color);
  background-image: -moz-linear-gradient(top, lighten($psu-primary-color,7), $psu-primary-color);
  background-repeat: repeat-x;
  border-color: $psu-primary-color $psu-primary-color #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-school:hover,
.btn-school:active,
.btn-school.active,
.btn-school.disabled,
.btn-school[disabled] {
  color: #ffffff;
  background-color: lighten($psu-primary-color,0.5);
  *background-color: #499249;
}

.btn-school:active,
.btn-school.active {
  background-color: #408140 \9;
}

// #SHOW ---------------/

.book-card {
	background-color: rgba(255,255,255,1);
	border: 3px solid #DDD;
	padding: 10px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

.book-table {
	margin: 0px auto;

}

.book-table thead tr.header-row {
	border-bottom: 2px solid #CC0052;
}

.book-table td,th{
	padding: 5px;
}

.course-header {
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}

.book-title {
	text-align: left;
	text-indent: 10px;
}


th.header {
	text-align: center;
}

th.subheader {
	text-align: center;

}

td.book-bookstore {
	text-align: center;
}

td.book-query {
	text-align: center;

}

.requirement {
	font-size: 7pt;
}

.loading {
	margin: auto;
	background-image: url(ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
}

.selectable{
	color: #08C;
	cursor: pointer;
}

.selected{
	background-color: #3A87AD;
}

.selected span{
	color: #FFFFFF;
}

.simple{
	background-color: #FFFFFF;
}

.simple span{
	color: #08C;
}

.simple span.label{
	color: #FFFFFF;
}

#checkout-amazon-td {
	text-align: center;
}

#checkout-amazon-icon {
	font-size: 24px;
	line-height: 12px;
}

#checkout-bn-td {
	text-align: center;
}

#checkout-bn-icon {
	position: relative;
	top: -1px;
}

input.checkout-radio {
	vertical-align: middle;
	margin: 0px;
}

label.checkout-label {
	display: inline;
}

#express + span {
	font-style: italic;
}

#bnModal table {
	border-bottom: 1px solid #DDD;
}
