// Place all the styles related to the schools controller here.
// They will automatically be included in staticpages.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-box{
  margin: 20px;
  text-align: left;
  font-size: 12pt;
}

.accordion-toggle{
  background-color: white;
}

.accordion-body{
  background-color: white;
}

.give-try-btn{
  text-align: center;
  margin: 0px auto 20px auto;
}

p.mission{
  font-size: 24pt;
  font-style: italic;

}

.content-box p,h2{
  text-align: center;
}

.content-box p{
  margin-bottom: 20px;
}

.strike{
  text-decoration: line-through;
}

.about-image{
  width: 80%;
  height:250px;
  margin: 0 auto 20px auto;
  background-position: center center;
  background-repeat: no-repeat;
}

#about-prices{
  background-image: url('about-prices.png');

}

#about-auto{
  background-image: url('about-auto.png');
}

#about-flex{
  background-color: silver;
}