// Hawaii

// This file defines the primary and secondary colors for the schools,
// and imports the styles from the schools SCSS partial.

// Variables ----------------------------|

@import "schools.css.scss";

$school-primary-color: $hawaii-primary-color ;
$school-secondary-color: $hawaii-secondary-color ;
$school-slug: $hawaii-slug;

@import "school_specific.css.scss";