// Saddleback

// This file defines the primary and secondary colors for the schools,
// and imports the styles from the schools SCSS partial.

// Variables ----------------------------|

@import "schools.css.scss";

$school-primary-color: $saddleback-primary-color ;
$school-secondary-color: $saddleback-secondary-color ;
$school-slug: $saddleback-slug;

@import "school_specific.css.scss";