// USC

// This file defines the primary and secondary colors for the schools,
// and imports the styles from the schools SCSS partial.

// Variables ----------------------------|

$school-primary-color: #990000 ;
$school-secondary-color: #FFCC00 ;
$school-slug: 'usc';

@import "schools.css.scss";