// USC

// This file defines the primary and secondary colors for the schools,
// and imports the styles from the schools SCSS partial.

// Variables ----------------------------|

@import "schools.css.scss";

$school-primary-color: $usc-primary-color ;
$school-secondary-color: $usc-secondary-color ;
$school-slug: $usc-slug;

@import "school_specific.css.scss";